{% extends 'ibase.html' %}
{% block content %}

    <style>
        body, html {
          height: 100%;
        }

        * {
          box-sizing: border-box;
        }

    </style>
    <h1 style="color:white">{% block title %}Articles{% endblock %}</h1>

    {% for post in posts %}
    <style>
        .postbox {
            width: 1100px;
            height: 100px;
            border: 2px solid #1c242c;
            border-radius: 20px 20px 20px 20px;
            padding:10px;
            background:#1c242c;
        }
        #title{
            color:white;
        }

    </style>
    <div class="postbox">
        <a href="{{url_for('post', post_id=post['id'])}}">
            <h2 id="title">{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    </div>
    <hr>
    {% endfor %}
{% endblock %}
