{% extends 'base.html' %}
{% block content %}

    <style>
        body, html {
          height: 100%;
        }

        * {
          box-sizing: border-box;
        }

        .bg-image {
          /* The image used */
          background-image: url("https://img.jkrss.com/blog/uploads/2024/02/banner.jpg");

          /* Add the blur effect */
          filter: blur(8px);
          -webkit-filter: blur(8px);

          /* Full height */
          height: 100%;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        /* Position text in the middle of the page/image */
        .bg-text {
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
          color: white;
          font-weight: bold;
          border: 3px solid #f1f1f1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 80%;
          padding: 20px;
          text-align: center;
        }
    </style>
    <div class="bg-text">
      <h1>Welcome to Eros Blog</h1>
      <p>Love ts.</p>
    </div>
    <h1 style="color:white">{% block title %}Articles{% endblock %}</h1>

    {% for post in posts %}
    <style>
        .postbox {
            width: 1000px;
            height: 100px;
            border: 2px solid #1c242c;
            border-radius: 20px 20px 20px 20px;
            padding:10px;
            background:#1c242c;
        }
        #title{
            color:white;
        }

    </style>
    <div class="postbox">
        <a href="{{url_for('post', post_id=post['id'])}}">
            <h2 id="title">{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    </div>
    <hr>
    {% endfor %}
{% endblock %}
